.wpbnmpb1 {

    --header-font-size: 21px;
    --header-margin: 0 0 1em;
    --title-font-size: 24px;
    --title-font-size-small: 16px;
    --title-line-height: 1.2;
    --title-line-height-small: 1.2;
    --title-margin: 0 0 0.4em 0;
    --meta-font-size: 14px;
    --meta-font-size-small: 13px;
    --meta-spacing: 15px;
    --meta-margin: 0 0 15px;
    --category-font-size: 13px;
    --category-bg-hover-color: #eee;
    --category-margin: 0 5px 5px 0;
    --category-padding: 2px 5px;
    --excerpt-font-size: 16px;
    --excerpt-line-height: 1.5;
    --excerpt-font-size-small: 16px;
    --excerpt-line-height-small: 1.5;
    --excerpt-margin: 0 0 20px;
    --excerpt-margin-small: 0 0 20px;

    margin: 0 0 50px 0;

    .bnm-block-title-wrap {
        position: relative;
        margin: var(--header-margin);
        padding: var(--header-padding);
    }

    .article-section-title {
        color: var(--header-color);
		font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        letter-spacing: var(--header-letter-spacing);
        border-bottom: 2px solid #000000;
        margin: 0;
        padding: 0;
	}

    .bnm-pb1-large-post {
        .entry-title {
            clear: none;
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            letter-spacing: var(--title-letter-spacing);
            padding: var(--title-padding);
            margin: var(--title-margin);

            a {
                text-decoration: inherit;
                color: var(--title-color);
                
                &:hover {
                    color:  var(--title-hover-color);
                }
            }
        }

        .entry-meta,
        .entry-meta a {
            text-decoration: inherit;
            font-size: var(--meta-font-size);
            line-height: var(--meta-line-height);
            letter-spacing: var(--meta-letter-spacing);
        }

        .bnm-post-excerpt {
            color: var(--excerpt-color);
            font-size: var(--excerpt-font-size);
            line-height: var(--excerpt-line-height);
            letter-spacing: var(--excerpt-letter-spacing);
            padding: var(--excerpt-padding);
            margin: var(--excerpt-margin);
        }
    }

    .bnm-pb1-small-post { 
        .entry-title {
            clear: none;
            font-size: var(--title-font-size-small); 
            line-height: var(--title-line-height-small);
            letter-spacing: var(--title-letter-spacing-small);
            margin: 0 0 0.5em;

            a {
                text-decoration: inherit;
                color: var(--title-color);
                
                &:hover {
                    color:  var(--title-hover-color);
                }
            }
        }
        .entry-meta,
        .entry-meta a {
            font-size: var(--meta-font-size-small);
            line-height: var(--meta-line-height-small);
            letter-spacing: var(--meta-letter-spacing-small);
        }
        .bnm-post-excerpt {
            color: var(--excerpt-color);
            font-size: var(--excerpt-font-size-small);
            line-height: var(--excerpt-line-height-small);
            letter-spacing: var(--excerpt-letter-spacing-small);
            padding: var(--excerpt-padding-small);
            margin: var(--excerpt-margin-small);
        }
        .post-thumbnail {
            margin: 0 20px 0 0;
            width: 35%;
            float: left;
        }
        .entry-details {
            word-wrap: break-word;
        }
    }

    .bnm-category-list {
        a {
            color: var(--category-color);
            display: inline-block;
            font-size: var(--category-font-size);
            line-height: var(--category-line-height);
            letter-spacing: var(--category-letter-spacing);
            text-decoration: inherit;
            margin: var(--category-margin);

            &:hover {
                color: var(--category-hover-color);
            }
        }
    }

    &.bnm-box-cat {
		.bnm-category-list {
			a {
				background-color: var(--category-bg-color);
				padding: var(--category-padding);

				&:hover {
					background-color: var(--category-bg-hover-color);
				}
			}
		}
	}

    .entry-meta {
        display: flex;
        flex-wrap: wrap;
        gap: var(--meta-spacing);
        color: var(--meta-color);

        padding: var(--meta-padding);
        margin: var(--meta-margin);

        .bnm-post-author,
        .bnm-post-date,
        .bnm-comment-count {

            a {
                text-decoration: inherit;
                color: var(--meta-color);

                &:hover {
                    color: var(--meta-hover-color);
                }
            }
        }
    }

    .bnm-post-author {
        display: inline-block;
    }

    .post-thumbnail {
        margin: 0 0 17px 0;
        overflow: hidden;
    
        img {
            max-width: 100%;
            height: auto;
        }
    }    

}

.bnm-category-list {
    display: block;
}

.bnm-avatar{
    margin-right: 5px;
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        vertical-align: top;
    } 
    
}

.posts-block-1-container {
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;

    @media(min-width: 480px) {
        display: flex;
        flex-direction: row;
        gap: 35px;

        .bnm-left-block,
        .bnm-right-block {
            width: 50%;
        }
    }
}

.bnm-pb1-small-post {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}