body:not([class*="block-theme"]) .editor-styles-wrapper div.wp-block-columns {
	gap: 32px;

	&.is-style-borders {
		gap: 64px;
	}
}

.wp-block-columns {
	@media only screen and ( min-width: 782px ) {
		&.is-style-first-col-to-second > [data-type="core/column"]:nth-child(2),
		&.is-style-first-col-to-third > [data-type="core/column"]:nth-child(2),
		&.is-style-first-col-to-third > [data-type="core/column"]:nth-child(3) {
			order: -1;
		}
	}

	&.is-style-borders {
		> [data-type="core/column"] {
			border-bottom: 1px solid var(--bnm-border-color);
			position: relative;

			&:last-child,
			[data-type="core/column"] {
				border-bottom: 0;
			}

			@media only screen and ( min-width: 782px ) {
				border-bottom: 0;

				&::after {
					border-right: 1px solid var(--bnm-border-color);
					bottom: 0;
					content: "";
					position: absolute;
					right: -32px;
					top: 0;
				}

				&:nth-child(odd)::after {
					border-color: var(--bnm-border-color);
				}

				&:last-child::after,
				[data-type="core/column"]::after {
					display: none;
				}
			}

			@media only screen and ( min-width: 782px ) {
				&::after {
					border-color: var(--bnm-border-color);
				}
			}
		}

		@media only screen and ( min-width: 782px ) {
			&.is-style-first-col-to-second,
			&.is-style-first-col-to-third {
				> [data-type="core/column"]:first-child::after {
					display: none;
				}
			}

			&.is-style-first-col-to-second > [data-type="core/column"]:nth-child(2)::after,
			&.is-style-first-col-to-third > [data-type="core/column"]:nth-child(3)::after {
				display: block;
			}
		}
	}
}

/**
 * Temporary WP<6.0 styles
 * TODO: These styles can be removed once WP 6.0 is released.
 */
.editor-styles-wrapper {
	.wp-block-columns {
		&.is-not-stacked-on-mobile,
		&:not(.is-not-stacked-on-mobile) {
			> .wp-block-column:not(:first-child) {
				margin-left: 0;
			}
		}
	}
}