.bnmfpovrlay,
.bnmslovrlay,
.bnmlnkovrlay {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.entry-meta {
    display: flex;
    flex-wrap: wrap;
}

.bnm-avatar {
    margin-right: 5px;
}

.bnm-avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: top;
}

.bnmfpovrlay.inside-gut-editor {
	cursor: pointer
}

.bnm-category-list {
    display: flex;
    flex-wrap: wrap;
}

img.bnm-fp-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
    transition: transform .3s;
}

.bnm-category-list .bnm-cat-links .post-categories {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 8px;
    padding: 0;
    gap: 8px;
}