.wp-block-bnm-blocks-post-block-3 {

    --title-font-size: 18px;
    --title-line-height: 1.2;
    --title-margin: 5px 0 10px 0;
    --meta-font-size: 12px;
    --meta-spacing: 10px;
    --meta-margin: 0 0 15px;
    --category-font-size: 11px;
    --category-bg-hover-color: #eee;
    --category-margin: 0 .5em 0 0;
    --excerpt-font-size: 16px;
    --excerpt-line-height: 1.5;
    --excerpt-margin: 0 0 20px;

    .bnm-pb3-post {
        .entry-title {
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            letter-spacing: var(--title-letter-spacing);
            padding: var(--title-padding);
            margin: var(--title-margin);

            a {
                text-decoration: inherit;
                color: var(--title-color);
                
                &:hover {
                    color:  var(--title-hover-color);
                }
            }
        }

        .entry-meta,
        .entry-meta a {
            text-decoration: inherit;
            font-size: var(--meta-font-size);
            line-height: var(--meta-line-height);
            letter-spacing: var(--meta-letter-spacing);
        }

        .bnm-post-excerpt {
            color: var(--excerpt-color);
            font-size: var(--excerpt-font-size);
            line-height: var(--excerpt-line-height);
            letter-spacing: var(--excerpt-letter-spacing);
            padding: var(--excerpt-padding);
            margin: var(--excerpt-margin);
        }
    }

    .bnm-category-list {
        a {
            color: var(--category-color);
            font-size: var(--category-font-size);
            line-height: var(--category-line-height);
            letter-spacing: var(--category-letter-spacing);
            text-decoration: inherit;
            padding: var(--category-padding);
            margin: var(--category-margin);

            &:hover {
                color: var(--category-hover-color);
            }
        }
    }

    &.has-category-background {
        .bnm-category-list {
            a {
                background-color: var(--category-bg-color);
                padding: var(--category-padding);
    
                &:hover {
                    background-color: var(--category-bg-hover-color);
                }
            }
        }
    }

    .entry-meta {
        display: flex;
        flex-wrap: wrap;
        gap: var(--meta-spacing);
        color: var(--meta-color);

        padding: var(--meta-padding);
        margin: var(--meta-margin);

        .bnm-post-author,
        .bnm-post-date,
        .bnm-comment-count {

            a {
                text-decoration: inherit;
                color: var(--meta-color);

                &:hover {
                    color: var(--meta-hover-color);
                }
            }
        }
    }

    .bnm-post-author {
        display: inline-block;
    }

}

.bnm-category-list {
    display: block;
}

.bnm-avatar {
    margin-right: 5px;
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        vertical-align: top;
    } 
    
}

.bnm-row {
    display: flex;
    gap: 40px;
}

.bnm-pb3-post {
    display: block;
    overflow: hidden;
    width: 100%;
}

.bnm-pb3-posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 25px;
}

.post-thumbnail {
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}