.wpbnmfpb1 {

    --header-font-size: 21px;
    --header-margin: 0 0 1em;
    --title-font-size: 24px;
    --title-font-size-small: 18px;
    --title-line-height: 1.2;
    --title-line-height-small: 1.2;
    --title-margin: 5px 0 10px 0;
    --title-color: #ffffff;
    --title-hover-color: #dddddd;
    --category-color: #eeeeee;
    --category-hover-color: #dddddd;
    --meta-font-size: 12px;
    --meta-font-size-small: 12px;
    --meta-spacing: 10px;
    --meta-margin: 0;
    --meta-color: #cccccc;
    --meta-hover-color: #dddddd;
    --category-font-size: 14px;
    --category-margin: 0 .5em 0 0;
    --excerpt-font-size: 16px;
    --excerpt-color: #dddddd;
    --excerpt-line-height: 1.5;
    --excerpt-font-size-small: 14px;
    --excerpt-line-height-small: 1.5;
    --excerpt-margin: 0 0 20px;
    --excerpt-margin-small: 0 0 20px;

    margin: 0 0 50px 0;

    .bnm-block-title-wrap {
        position: relative;
        margin: var(--header-margin);
        padding: var(--header-padding);
    }

    .article-section-title {
        color: var(--header-color);
		font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        letter-spacing: var(--header-letter-spacing);
        border-bottom: 2px solid #000000;
        margin: 0;
        padding: 0;
	}

    .bnm-fp1-large-post {
        .entry-title {
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            letter-spacing: var(--title-letter-spacing);
            padding: var(--title-padding);
            margin: var(--title-margin);

            a {
                text-decoration: inherit;
                color: var(--title-color);
                position: relative;
                z-index: 2;
                
                &:hover {
                    color:  var(--title-hover-color);
                }
            }
        }

        .entry-meta {
            text-decoration: inherit;
            font-size: var(--meta-font-size);
            line-height: var(--meta-line-height);
            letter-spacing: var(--meta-letter-spacing);

            a {
                text-decoration: inherit;
                font-size: var(--meta-font-size);
                line-height: var(--meta-line-height);
                letter-spacing: var(--meta-letter-spacing);
                position: relative;
                z-index: 2;
            }
        }

        .bnm-post-excerpt {
            color: var(--excerpt-color);
            font-size: var(--excerpt-font-size);
            line-height: var(--excerpt-line-height);
            letter-spacing: var(--excerpt-letter-spacing);
            padding: var(--excerpt-padding);
            margin: var(--excerpt-margin);
        }
    }

    .bnm-fp1-small-post { 
        .entry-title {
            font-size: var(--title-font-size-small); 
            line-height: var(--title-line-height-small);
            letter-spacing: var(--title-letter-spacing-small);
            margin: 0 0 5px;

            a {
                text-decoration: inherit;
                color: var(--title-color);
                position: relative;
                z-index: 2;
                
                &:hover {
                    color:  var(--title-hover-color);
                }
            }
        }
        .entry-meta,
        .entry-meta a {
            font-size: var(--meta-font-size-small);
            line-height: var(--meta-line-height-small);
            letter-spacing: var(--meta-letter-spacing-small);
        }
        .bnm-post-excerpt {
            color: var(--excerpt-color);
            font-size: var(--excerpt-font-size-small);
            line-height: var(--excerpt-line-height-small);
            letter-spacing: var(--excerpt-letter-spacing-small);
            padding: var(--excerpt-padding-small);
            margin: var(--excerpt-margin-small);
        }
        .post-thumbnail {
            margin: 0 20px 0 0;
            width: 35%;
            float: left;
        }
        .entry-details {
            word-wrap: break-word;
        }
    }

    .bnm-fp1-post-content {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0));
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px 25px;
        width: 100%;

        a {
            color: inherit;
        }
    
        a.bnm-readmore {
            color: var(--excerpt-color);
        }
    }

    .bnm-category-list {
        display: block;
        a {
            color: var(--category-color);
            display: inline-block;
            font-size: var(--category-font-size);
            line-height: var(--category-line-height);
            letter-spacing: var(--category-letter-spacing);
            text-decoration: inherit;
            margin: var(--category-margin);
            position: relative;
            z-index: 2;

            &:hover {
                color: var(--category-hover-color);
            }
        }
    }

    &.bnm-box-cat {
        .bnm-category-list {
            a {
                background-color: var(--category-bg-color);
                padding: var(--category-padding);
    
                &:hover {
                    background-color: var(--category-bg-hover-color);
                }
            }
        }
    }

    .entry-meta {
        display: flex;
        flex-wrap: wrap;
        gap: var(--meta-spacing);
        color: var(--meta-color);

        padding: var(--meta-padding);
        margin: var(--meta-margin);

        .bnm-post-author,
        .bnm-post-date,
        .bnm-comment-count {

            a {
                text-decoration: inherit;
                color: var(--meta-color);

                &:hover {
                    color: var(--meta-hover-color);
                }
            }
        }
    }

    .bnm-post-author {
        display: inline-block;
    }



}

.bnm-avatar {
    margin-right: 5px;
    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        vertical-align: top;
    }
}

.post-thumbnail {
    overflow: hidden;
    margin: 0 0 10px;

    img {
        vertical-align: top;
        max-width: 100%;
        height: auto;
    }
}

.bnm-fp1-small-post,
.bnm-fp1-large-post {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bnm-fp1-small-post,
.bnm-fp1-large-post {

    overflow: hidden;

    &:before {
        display: block;
        content: "";
        width: 100%;
        
    }

    &:hover {
        img.bnm-fp-img {
            transform: scale(1.1);
        }
    }

    img.bnm-fp-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        object-fit: cover;
        outline: none;
        border: none;
        box-shadow: none;
        transition: transform .3s;
    }
}

.bnm-fp1-large-post {
    &:before {
        padding-top: 58.956916099773243%;
    }
}

.bnm-fp1-small-post {
    &:before {
        padding-top: 59.360730593607306%;
    }
}



.bnm-fp1-left-side,
.bnm-fp1-right-side {
    width: 100%;
}

@media (min-width: 768px) {
    .bnm-fp1-container {
        display: flex;
    }
    .bnm-fp1-left-side {
        width: 66.8181818182%;
    }
    .bnm-fp1-right-side {
        width: 33.181818181818182%;
        display: flex;
        flex-direction: column;
    }
}

.posted-on time.updated {
    display: none;
}

.bnmfpovrlay,
.bnmlnkovrlay {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.bnmfpovrlay.inside-gut-editor {
	cursor: pointer
}